@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-bg-page: #FCF9F6;
  --color-bg-card: #FCEEE3;
  --color-bg-input: #FFFFFF;
  --color-text-primary: #8C5A3C;
  --color-btn-primary: #F0D3C1;
  --color-btn-primary-text: #8C5A3C;
  --color-border-soft: #E8D5C8;
}
