POSTGRES_USER= Tu_usuario_aqui
POSTGRES_PASSWORD= Tu_contraseña_aqui
POSTGRES_DB=floresdb

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/floresdb
SPRING_DATASOURCE_USERNAME= Tu usuario aqui
SPRING_DATASOURCE_PASSWORD= Tu_contraseña_aqui